{ip_addr,"80.216.3.159"}.
{port,50200}.
{service_id,"kubelete"}.
{vsn,"1.0.0"}.
{zone,["stockholm.flat.room_joq.rpi2"]}.
{capabilities,[]}.
{max_workers,20}.
{init_load_apps,["lib","kubelet"]}.
{dns,"80.216.3.159",60000}.
{node_type,worker_node}.
{git_url,"https://joq62:festum01@github.com/joq62/"}.
{keep_dirs,["var","loader"]}.	
{cert,"certificate.pem"}.
{key,"key.pem"}.
